.App {
  text-align: center;
  background:lightgoldenrodyellow;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styling begins */

.Main {
  display:flex;
  justify-content: center;
  background:teal;
  width:80%;
  margin:auto;
}
.players {
  display: flex;
  border:1px solid black;
  justify-content: center;
  flex-direction:column;
  width:30%;
  background:white;
  border-radius:10px;
  margin:10px auto;
}
.player-cards {
  display: flex;
  flex-wrap:wrap;
  margin:auto;
}

/* Dark Mode */

.dark-mode_clicked {
  background:green;
  border:1px solid black;
  width:40px;
  height:30px;
  border-radius:50px;
  position:relative;
}

.notClicked {
  background:black;;
  border-radius:20px;
  height:30px;
  left:0px;
  transition:0.5s;
  width:20px;
}
.clicked {
  left:10px;
}
.dark-mode {
  color:red;
  background-color:#313843;
}